{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li class="cv-pub-item">
  <div class="pub-item">
    <p class="pub-title">
      {% if post.pub_type %}
        <span class="pub-type pub-type--{{ post.pub_type | downcase }}">{{ post.pub_type }}</span>
      {% endif %}
      {{ title }}
      {% if post.award %}
        <span class="pub-award">🏆 <b><i>{{ post.award }}</i></b></span>
      {% endif %}
    </p>
    {% if post.authors %}
      <p class="pub-authors">{{ post.authors }}</p>
    {% endif %}
    <p class="pub-venue"><i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
    {% if post.doi or post.paperurl %}
      <p class="pub-links">
        {% if post.doi and post.doi != "To appear" %}
          [<a href="{{ post.doi }}" target="_blank">Paper</a>]
        {% elsif post.doi == "To appear" %}
          [To appear]
        {% endif %}
        {% if post.paperurl %}
          [<a href="{{ post.paperurl }}" target="_blank">Paper</a>]
        {% endif %}
      </p>
    {% endif %}
    {% if post.tags.size > 0 %}
      <div class="pub-tags">
        {% for tag in post.tags %}
          <span class="pub-tag">{{ tag }}</span>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</li>
